<div class="fourteen columns offset-by-one">
    <span class="warning">Sorry. The page you were looking for was not found. Return <a href="/">Home</a>.</span>
    <div>
        HTTP @Response.StatusCode @Response.StatusDescription
    </div>
</div>