<div class="fourteen columns offset-by-one">
    <span class="warning">Sorry. A server error occurred while trying to serve your request. Return <a href="/">Home</a>.</span>
    <div>
        HTTP @Response.StatusCode @Response.StatusDescription
    </div>
</div>