@model ErrorGun.Web.Models.ConfirmEmailModel
<div class="fourteen columns offset-by-one">
    @if (!Model.Confirmed)
    {
        <span class="warning">Email Confirmation Failed for @(Model.EmailAddress?? "unknown email").</span>
        <p>Error: @Model.ErrorMessage</p>
    }
    else
    {
        <p>Email Confirmation Succeeded for @Model.EmailAddress</p>
        if (Model.AlreadyConfirmed)
        {
            <p>(The address was already confirmed.)</p>
        }
    }
</div>