@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Edit Application - ErrorGun</title>
    </head>
    <body>
        <div>
            <h1>Edit Application</h1>
            <div>
                <label for="apiKey">API Key: </label>
                <input type="text" id="apiKey"/>
            </div>
            <input type="submit" name="Load" value="Load"/>
        </div>
    </body>
</html>