<div class="fourteen columns offset-by-one add-bottom clearfix">
    <div class="seven columns alpha">
        <h2>Sign Up</h2>
        <p>Sign up your application now.</p>
        @Html.ActionLink("Register", "Register", "Home", new { @class = "ko-link large" })
    </div>
    
    <div class="seven columns omega">
        <h2>Your App</h2>
        <p>View your existing application.</p>
        @Html.ActionLink("View", "ViewApp", "Home", new { @class = "ko-link large" })
    </div>
</div>

<div class="fourteen columns offset-by-one clearfix">
    <div class="four columns alpha" id="logo"><img src="/Content/Images/logo.png" alt="ErrorGun logo"/></div>
    <div class="ten columns omega">
        <blockquote>Find out about errors in your applications as soon as your users encounter them. ErrorGun will send you an email
        the moment an error occurs. Your users can opt to include their contact information so that you can assist them
        directly.</blockquote>
    </div>
</div>