@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>ErrorGun</title>
    </head>
    <body>
        <div>
            <h1>ErrorGun</h1>
            <p>Find out about errors in your applications as soon as your users encounter them. ErrorGun will send you an email
                as soon as an error occurs. Your users can opt to include their contact information so that you can assist them
                directly.
            </p>
        </div>
        <div>
            <h2>Sign Up</h2>
            <p>Sign up your application now.</p>
            @Html.ActionLink("Register", "Register")
        </div>
        <div>
            <h2>Your App</h2>
            <p>Edit your existing application.</p>
            @Html.ActionLink("Edit", "Edit")
        </div>
    </body>
</html>