@using ErrorGun.Web.App_Start

<div class="fourteen columns offset-by-one">
    <h3 class="add-bottom">Register App</h3>
    <div data-bind="visible: ErrorMessage, text: ErrorMessage" class="warning alert" style="display: none"></div>
    <div data-bind="visible: ApiKey" class="info alert" style="display: none">
        <h5>App Created</h5>
        <hr/>
        <p>
            <label class="inline">Name:</label> <span data-bind="text: Name"></span><br/>
            <label class="inline">Id:</label> <span data-bind="text: Id"></span><br/>
            <label class="inline">ApiKey:</label> <span data-bind="text: ApiKey"></span><br/>
            <label class="inline">Contact Emails:</label> <span data-bind="text: ContactEmails().join(', ')"></span>
        </p>
        <p>
            Store your API key in a secure location. It is required for reporting errors to the service.
            See <a href="examples">examples</a> of using the ErrorGun API from your favorite platform.
        </p>
        <p>
            @Html.ActionLink("View", "ViewApp") your App's details.
        </p>
    </div>
    <form data-bind="submit: Create, visible: !ApiKey()">
        <label for="name">App Name</label>
        <input type="text" id="name" data-bind="value: Name" />
        
        <label for="emailAddress">Contact Email</label>
        <input type="email" 
               id="emailAddress"
               data-bind="value: NewContactEmail, valueUpdate: 'afterkeydown', event: { keypress: AddContactEmailOnEnter }, css: { invalid: NewContactEmailValid() === false }"
               class="inline"/>
        <button data-bind="click: AddContactEmail, enable: NewContactEmailValid() && NewContactEmail().length > 0" class="small"><i class="icon-plus"></i> Add</button>

        
        <div class="boxed">
            <strong>Contact Emails</strong><br/>
            <em data-bind="visible: ContactEmails().length < 1">Please add at least one.</em>
            <ul data-bind="template: { name: 'contactemail-template', foreach: ContactEmails }"></ul>
            <script type="text/html" id="contactemail-template">
                <li>
                    <button data-bind="click: $root.RemoveContactEmail" class="small"><i class="icon-remove"></i></button>
                    <span data-bind="text: $data"></span>
                </li>
            </script>
        </div>
        <button type="submit" id="registerButton" name="Register" value="Register" data-bind="disable: Working, css: { loading: Working }">
            Register
        </button>
    </form>
</div>

@section EndBodyScripts {
    @Scripts.Render(AppScript.HomeRegister)
    <script type="text/javascript">
        var viewModel = new ErrorGun.ViewModels.AppCreate();
        ko.applyBindings(viewModel);

        $(function () {
            $('#name').focus();
        });
    </script>
}
