@using ErrorGun.Web.App_Start
<div class="fourteen columns offset-by-one">
    <h3>Your Application</h3>
    <div data-bind="visible: ErrorMessage, text: ErrorMessage" class="warning alert" style="display: none"></div>
    <form class="form-inline" data-bind="submit: LoadApp" autocomplete="off">
        <label for="apiKey">API Key: </label>
        <input type="text" id="apiKey" data-bind="value: ApiKey" class="wide" autocomplete="off" />
        <button type="submit" name="Load" value="Load" id="load" data-bind="disable: Working, css: { loading: Working }">Load</button>
    </form>
    <div data-bind="visible: AppLoaded" style="display: none">
        <div class="boxed">
            <ul>
                <li><strong>ID: </strong><span data-bind="text: Id"></span></li>
                <li><strong>Name: </strong><span data-bind="text: Name"></span></li>
                <li><strong>API Key: </strong><span data-bind="text: ApiKey"></span></li>
                <li><strong>Created: </strong><span data-bind="text: CreatedTimestampUtc"></span></li>
                <li><strong>Contact Emails: </strong><span data-bind="text: ContactEmailsFlat()"></span></li>
                <li><strong>Error Reports:</strong> <button name="LoadErrors" class="small" data-bind="click: LoadErrors">Load</button></li>
            </ul>
            <div data-bind="visible: ErrorReports().length > 0, foreach: ErrorReports" class="clearfix" style="display: none">
                <div class="four columns card">
                    ID: <span data-bind="text: Id"></span><br/>
                    Reported: <span data-bind="text: ReportedTimestampUtc"></span><br/>
                    Message: <span data-bind="text: Message"></span><br/>
                    Detail: <span data-bind="text: Detail"></span><br/>
                    Category: <span data-bind="text: Category"></span><br/>
                    Source: <span data-bind="text: Source"></span><br/>
                    User Email: <span data-bind="text: UserEmail"></span><br/>
                </div>
            </div>
        </div>
        <div class="boxed" data-bind="visible: AppLoaded">
            <h4>Send Test Error Report</h4>
            <form data-bind="submit: SendTestErrorReport">
                <div class="fourteen columns alpha clearfix">
                    <div class="four columns alpha">
                        <label for="message">Message</label>
                        <input data-bind="value: Message" type="text" id="message" />
                
                        <label for="category">Category</label>
                        <input data-bind="value: Category" type="text" id="category" />
                
                        <label for="source">Source</label>
                        <input data-bind="value: Source" type="text" id="source" />
                
                        <label for="userEmail">User Email</label>
                        <input data-bind="value: UserEmail" type="text" id="userEmail" />
                    </div>
                    <div class="ten columns omega">
                        <label for="detail">Detail</label>
                        <textarea data-bind="value: Detail" id="detail" cols="50" rows="14" class="wide"></textarea>
                    </div>
                </div>
                <button data-bind="click: ClearErrorReport" name="Clear" value="Clear" class="remove-bottom"><i class="icon-repeat"></i> Clear</button>
                <button type="submit" name="Send" value="Send" class="remove-bottom" data-bind="disable: Working, css: { loading: Working }"><i class="icon-share-alt"></i> Send</button>
            </form>
            <div data-bind="visible: ReportedErrorId" style="display: none">
                Error successfully reported: <span data-bind="text: ReportedErrorId"></span>
            </div>
            <div data-bind="visible: ErrorMessageSend" style="display: none">
                Failed to send report: <span data-bind="text: ErrorMessageSend"></span>
            </div>
        </div>
    </div>
</div>

@section EndBodyScripts {
    @Scripts.Render(AppScript.HomeView)
    <script type="text/javascript">
        var viewModel = new ErrorGun.ViewModels.AppView();
        ko.applyBindings(viewModel);

        $(function () {
            $('#load')
                .ajaxStart(function () { viewModel.Working(true); })
                .ajaxStop(function () { viewModel.Working(false); });
            
            $('#apiKey').focus();
        });
    </script>
}
