<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Debug" />
    <add key="EmailConfirmationUrl" value="http://localhost:56824/App/ConfirmEmail" />
    <add key="MailgunDomain" value="app10655.mailgun.org" />
    <add key="MAILGUN_SMTP_SERVER" value="localhost" />
    <add key="MAILGUN_SMTP_PORT" value="25" />
    <add key="MAILGUN_SMTP_LOGIN" value="test" />
    <add key="MAILGUN_SMTP_PASSWORD" value="test" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>